/*美化滚动条*/
* {
  scrollbar-face-color: #F3F3F3; /*面子*/
  scrollbar-arrow-color: #C0C0C0; /*箭头*/
  scrollbar-3dlight-color: #C0C0C0; /*最外左*/
  scrollbar-highlight-color: #FFFFFF; /*左二*/
  scrollbar-shadow-color: #FFFFFF; /*右二*/
  scrollbar-darkshadow-color: #C0C0C0; /*右一*/
  scrollbar-track-color: #F3F3F3; /*滑道*/
}

/*滚动条整体*/
::-webkit-scrollbar {
  width: 8px; /*滚动条宽度*/
  height: 8px;
}

/*滚动条按钮*/
::-webkit-scrollbar-button {

}

::-webkit-scrollbar-track {
  background-color: #F3F3F3; /*滑道全部*/
}

::-webkit-scrollbar-track-piece {
  background-color: #F3F3F3; /*滑道*/
  -webkit-border-radius: 4px; /*滑道圆角宽度*/
}

::-webkit-scrollbar-thumb {
  background-color: #F3F3F3; /*滑动条表面*/
  border: solid 1px #C0C0C0; /*滑动条边框*/
  border-radius: 4px; /*滑动条圆角宽度*/
}

/*横竖滚动条交角*/
::-webkit-scrollbar-corner {
  background-color: #F3F3F3;
}

/*横竖滚动条交角图案*/
::-webkit-resizer {
  /*background-image: url(/public/img/resizer-inactive.png);*/
  background-repeat: no-repeat;
  background-position: bottom right;
}

/*鼠标滑过滑动条*/
::-webkit-scrollbar-thumb:hover {
  background-color: #F3F3E0;
}

.custom-scroll {
  min-height: 0;
  min-width: 0;
}

.custom-scroll .outer-container {
  overflow: hidden;
  position: relative;
}

.custom-scroll .outer-container:hover .custom-scrollbar {
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.custom-scroll .inner-container {
  overflow-x: hidden;
  overflow-y: scroll;
}

.custom-scroll .inner-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, transparent 100%);
  pointer-events: none;
  -webkit-transition: height 0.1s ease-in;
  transition: height 0.1s ease-in;
  will-change: height;
}

.custom-scroll .inner-container.content-scrolled:after {
  height: 5px;
  -webkit-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
}

.custom-scroll.scroll-handle-dragged .inner-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-scroll .custom-scrollbar {
  position: absolute;
  height: 100%;
  width: 6px;
  right: 0px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  padding: 6px 0;
  box-sizing: border-box;
  will-change: opacity;
  pointer-events: none;
}

.custom-scroll .custom-scrollbar.custom-scrollbar-rtl {
  right: auto;
  left: 3px;
}

.custom-scroll.scroll-handle-dragged .custom-scrollbar {
  opacity: 1;
}

.custom-scroll .custom-scroll-handle {
  position: absolute;
  width: 100%;
  top: 0;
}

.custom-scroll .inner-handle {
  height: calc(100% - 12px);
  margin-top: 6px;
  background-color: #C0C0C0;
  border-radius: 3px;
}

body, html {
  height: 100%;
  overflow: hidden;
}

/*默认样式调整*/
.ant-layout {
  background: #fff !important;
  margin: 0;
  height: 100%;
}

.ant-layout .main-body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.ant-layout .main-body .main-body-side {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 230px;
  background: #eaeaea;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

.ant-layout .main-body .main-body-side .header .title {
  float: left;
  margin: 0 15px;
  font-size: 18px;
  color: #333;
  line-height: 50px;
  font-weight: 500;
}

.ant-layout .main-body .main-body-side .header:after, .ant-layout .main-body .main-body-side .header:before {
  content: " ";
  display: table;
}

.ant-layout .main-body .main-body-side .header {
  height: 50px;
  font-size: 20px;
}

.ant-layout .main-body .main-body-side .header .title {
  color: #2e2e2e;
}

.ant-layout .main-body .main-body-side .header .more {
  float: right;
  margin: 0 15px;
  line-height: 48px;
}

.ant-layout .main-body .main-body-side .body-list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  overflow: hidden;
  margin-bottom: 3px;
}

.ant-layout .main-body .main-body-side .search-area {
  padding: 0 15px 10px;
  position: relative;
}

.ant-layout .main-body .main-body-side .search-area input {
  background: #dcdcdc;
  box-shadow: none;
  border: 0;
  color: #333;
  height: 34px;
  font-size: 14px;
}

.ant-layout .main-body .main-body-side .search-area input:focus {
  background: #fff;
}

.ant-layout .main-body .main-body-side .search-area input {
  background: #d7dbde;
  color: #2e2e2e;
}

.ant-layout .main-body .main-body-center {
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.module-wrapper {
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.main-body-center, .module-wrapper {
  -webkit-box-flex: 1;
  -webkit-box-direction: normal;
}

.module-header {
  height: 50px;
  margin: 0 25px;
  padding: 0;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}

.module-header .title {
  line-height: 50px;
  font-size: 18px;
  float: left;
}

.module-header:after, .module-header:before {
  content: " ";
  display: table;
}

.module-header .flex-panel {
  float: right;
  line-height: 48px;
}

.module-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  height: calc(100vh - 55px);
}

.pTop24 {
  padding-top: 24px;
}

.pRight32 {
  padding-right: 32px !important;
}

.content-section {
  padding: 8px 15px;
}

#root .icp-selector {
  width: 60px;
}

.ant-layout-sider {

}

#root .wit-sys {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

#root .wit-sys-logo img {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

#root .wit-sys-name {
  text-wrap: none;
  overflow: hidden;
  white-space: nowrap;
}

#root .ant-layout-sider-collapsed .wit-sys-name {
  display: none;
}

#root .ant-layout-sider-collapsed .wit-sys {
  background-color: transparent !important;
  padding: 0px !important;
}

#root .wit-user {
  margin: 25px 0 20px 0;
  height: 50px;
  width: 200px;

  display: none;
}

#root .wit-user-avatar {
  position: relative;
  float: left;
  width: 35px;
  height: 64px;
  text-align: center;
}

#root .wit-user-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 14px;
}

/*用户角色*/
#root .wit-user-info {
  position: relative;
  float: left;
  margin-left: 10px;
}

#root .wit-user-info a {
  color: #c7c7c7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  padding-top: 5px;
}

#root .wit-user-info a:hover {
  color: #c7c7c7 !important;
}

#root .wit-user-name {
  color: #c7c7c7;
  text-align: center;
  font-size: 14px;
}

#root .wit-menu {
  margin-top: 30px;
}

#root .wit-menu .ant-menu-item {
  /*height: 60px !important;*/
  /*line-height: 60px !important;*/
}

#root .wit-header {
  background-color: #fff;
  padding: 0px;
  border: 1px solid #e9e9e9;
}

#root .wit-header-message {
  float: right;
}

/*图标对齐*/
#root .wit-header-message .ant-badge {
  vertical-align: baseline !important;
}

#root .wit-header-message .ant-badge-dot {
  top: -6px;
}

#root .wit-header-message .ant-dropdown-link {
  min-width: 70px;
  display: block;
  float: left;
  font-size: 20px;
  text-align: center;
}

/*折叠后隐藏*/
#root .ant-layout-sider-collapsed > ul > li > div > span > .nav-text {
  display: none;
}

#root .ant-layout-sider-collapsed > ul > li > a > .nav-text {
  display: none;
}

#root .ant-layout-sider-collapsed .anticon {
  font-size: 17px;
  margin-left: 8px;
}

#root .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

#root .ant-layout-sider-collapsed .wit-user-info {
  display: none;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #108ee9 !important;
}

/*顶部菜单折叠按钮*/
#root .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

/*左侧菜单行高和字体*/
.ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  /*font-size: 13px !important;*/
  /*line-height: 48px !important;*/
  /*height: 48px !important;*/
}

/*左侧菜单选中*/
#root .ant-layout-sider-collapsed .wit-menu .ant-menu-submenu-selected {
  background-color: #108ee9;
}

.ui.segment {
  position: relative;
  background: #fff;
  border-radius: .28571429rem;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  border: 0px !important;
}

.ui.raised.segment {
  box-shadow: none !important;
}

.ui.ribbon.label {
  /*left: calc(-1rem - 1.4em) !important;*/
  /*margin-right: -1.2em;*/
  /*padding-left: calc(1rem + 1.2em);*/
  /*padding-right: 1.2em;*/
}

/*table操作类样式*/
.table-a-first {
  font-size: 16px;
  color: green;
}

.table-a {
  margin-left: 8px;
  font-size: 16px;
  color: green;
}
